.id11{
    background-color: grey;
    width: 300px;
    height: 144px;
    border: 2px solid black;
}
.id4{
    background-color:burlywood;
    position: absolute;
    top: 18px;
    right: 0px;
    border: 2px solid black;
    width: 60px;
    font-family:sans-serif;
}
.id22{
    background-color: grey;
    width: 300px;
    height: 144px;
    border: 2px solid black;
}
.id5{
    background-color:rgb(222, 148, 148);
    position: absolute;
    top: 18px;
    right: 0px;
    border: 2px solid black;
    width: 60px;
    font-family:sans-serif;
}
.id33{
    background-color: gray;
    width: 300px;
    height: 144px;
}
.id6{
    background-color: aqua;
position: absolute;
top: 18px;
right: 0px;
border: 2px solid black;
width: 60px;
font-family:sans-serif;
}
.id1{
    position: relative;
    width: 300px;
    /* display: inline-block; */
    position: absolute;
    top: 80px;
   
}
.id2{
    position: relative;
    width: 300px;
    /* display: inline-block; */
    /* margin-left: 30px; */
    position: absolute;
    top: 80px;
    left: 345px;
}
.id3{
    position: relative;
    width: 300px;
    /* display: inline-block; */
    /* margin-left: 30px; */
    position: absolute;
    top: 80px;
    left: 686px;
}
.id234{
    position: relative;
}
h1{
    text-align: center;
}
@media (max-width:300px){
    .id2{

        top:300px;
        left:20px;
    }
    .id3{

        top:600px;
        left:20px;
    }
}
@media (min-width:301px) and (max-width:600px){
    .id3{
        top:300px;
        left:20px;
    }
}
